spring:
  application:
    name: baseweb-backend
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      pool-name: baseweb-hikari
  flyway:
    enabled: true

server:
  servlet:
    context-path: /

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html

security:
  jwt:
    secret: "change-me-to-a-secure-key-with-at-least-32-bytes-123456"
    access-token-validity-seconds: 900
    refresh-token-validity-seconds: 1209600

app:
  auth:
    cookie:
      secure: false
      same-site: Lax
      domain:
      refresh-max-age-seconds: 1209600

  security:
    kiwoom:
      base-url: https://api.kiwoom.com
      api-id: au10001

