spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

security:
  jwt:
    secret: ${JWT_SECRET}

app:
  auth:
    cookie:
      secure: true
      same-site: None
      domain: ${AUTH_COOKIE_DOMAIN:}
      refresh-max-age-seconds: 1209600
